:root {
	--ifm-color-primary: #0f766e;
	--ifm-color-primary-dark: #0d6b63;
	--ifm-color-primary-darker: #0c655d;
	--ifm-color-primary-darkest: #0a534c;
	--ifm-color-primary-light: #118176;
	--ifm-color-primary-lighter: #12877b;
	--ifm-color-primary-lightest: #14998c;
}

.footer {
	border-top: 1px solid var(--ifm-color-emphasis-200);
}
